html{
    scroll-behavior: smooth ; /*diminuindo a velocidade do scrol*/
}

.corPrimaria{
    background-color: rgb(7, 7, 255);
}

.corBorda{
    background-color: white;
}

.corColapse{
    background-color: rgb(64, 64, 255);
}

.h1{
    font-family: Arial, Helvetica, sans-serif;
}

.itemCentro{
    align-items: center;
}